


@model SDSDSoftwareApplication.ViewModel.ProjectViewModel;

@{
    ViewData["Title"] = "Projects";
}


<div class="section-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Project-OnGoing">OnGoing</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Project-UpComing">UpComing</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Project-add">Add</a></li>
                    </ul>
                    <div class="header-action d-md-flex">
                        <div class="input-group mr-2">
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="Project-OnGoing" role="tabpanel">
                <div class="row">
                    @foreach (var item in Model.AllProjects)
                    {

                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"> @Html.DisplayFor(modelItem => item.ProjectName)</h3>
                                    <div class="card-options">
                                        <label class="custom-switch m-0">
                                            <input type="checkbox" value="1" class="custom-switch-input" checked>
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <span class="tag tag-blue mb-3">Web Design</span>
                                    <p> @Html.DisplayFor(modelItem => item.Description)</p>
                                    <div class="row">
                                        <div class="col-5 py-1"><strong>Start Date:</strong></div>
                                        <div class="col-7 py-1">    @Html.DisplayFor(modelItem => item.Duration)</div>
                                        <div class="col-5 py-1"><strong>End Date:</strong></div>
                                        <div class="col-7 py-1">  @Html.DisplayFor(modelItem => item.ClientName)</div>
                                        <div class="col-7 py-1">  @Html.DisplayFor(modelItem => item.Id)</div>
                                        <div class="col-5 py-1"><strong>Question:</strong></div>
                                        <div class="col-7 py-1"><strong>23</strong></div>
                                        <div class="col-5 py-1"><strong>Comments:</strong></div>
                                        <div class="col-7 py-1"><strong>32</strong></div>
                                        <div class="col-5 py-1"><strong>Bug:</strong></div>
                                        <div class="col-7 py-1"><strong>5</strong></div>
                                        <div class="col-5 py-1"><strong>Team:</strong></div>
                                        <div class="col-7 py-1">
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-sm" src="assets/images/xs/avatar1.jpg" data-toggle="tooltip" title="" data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="assets/images/xs/avatar2.jpg" data-toggle="tooltip" title="" data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="assets/images/xs/avatar3.jpg" data-toggle="tooltip" title="" data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="assets/images/xs/avatar4.jpg" data-toggle="tooltip" title="" data-original-title="Avatar Name" />
                                                <img class="avatar avatar-sm" src="assets/images/xs/avatar5.jpg" data-toggle="tooltip" title="" data-original-title="Avatar Name" />
                                                <span class="avatar avatar-sm">+8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="clearfix">
                                        <div class="float-left"><strong>15%</strong></div>
                                        <div class="float-right"><small class="text-muted">Progress</small></div>
                                    </div>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-red" role="progressbar" style="width: 15%" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                               @*<a href asp-controller="Projects" asp-action="Edit" asp-route-Id=" @Html.DisplayFor(modelItem => item.Id)" value="Edit"/>*@

                                <a asp-controller="Projects" asp-action="Edit" asp-route-Id="@item.Id">Edit</a>
                            </div>
                        </div>
                    }
                </div>
             
            </div>
            <div class="tab-pane fade" id="Project-UpComing" role="tabpanel">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>Owner</th>
                                                <th>Milestone</th>
                                                <th class="w100">Work</th>
                                                <th class="w100">Duration</th>
                                                <th>Priority</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><img src="assets/images/xs/avatar1.jpg" alt="Avatar" class="w30 rounded-circle mr-2"> <span>Isidore Dilao</span></td>
                                                <td>Account receivable</td>
                                                <td><span>30:00</span></td>
                                                <td>30:0 hrs</td>
                                                <td><span class="text-warning">Medium</span></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/xs/avatar2.jpg" alt="Avatar" class="w30 rounded-circle mr-2"> <span>Maricel Villalon</span></td>
                                                <td>Account receivable</td>
                                                <td><span>68:00</span></td>
                                                <td>105:0 hrs</td>
                                                <td><span class="text-danger">High</span></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/xs/avatar3.jpg" alt="Avatar" class="w30 rounded-circle mr-2"> <span>Theresa Wright</span></td>
                                                <td>Approval site</td>
                                                <td><span>74:00</span></td>
                                                <td>89:0 hrs</td>
                                                <td><span>None</span></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/xs/avatar4.jpg" alt="Avatar" class="w30 rounded-circle mr-2"> <span>Jason Porter</span></td>
                                                <td>Final touch up</td>
                                                <td><span>30:00</span></td>
                                                <td>30:0 hrs</td>
                                                <td><span>None</span></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/xs/avatar5.jpg" alt="Avatar" class="w30 rounded-circle mr-2"> <span>Annelyn Mercado</span></td>
                                                <td>Account receivable</td>
                                                <td><span>30:00</span></td>
                                                <td>30:0 hrs</td>
                                                <td><span>None</span></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/xs/avatar6.jpg" alt="Avatar" class="w30 rounded-circle mr-2"> <span>Sean Black</span></td>
                                                <td>Basement slab preparation</td>
                                                <td><span>88:00</span></td>
                                                <td>88:0 hrs</td>
                                                <td><span>None</span></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/xs/avatar7.jpg" alt="Avatar" class="w30 rounded-circle mr-2"> <span>Scott Ortega</span></td>
                                                <td>Account receivable</td>
                                                <td><span>56:00</span></td>
                                                <td>125:0 hrs</td>
                                                <td><span class="text-warning">Medium</span></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/images/xs/avatar8.jpg" alt="Avatar" class="w30 rounded-circle mr-2"> <span>David Wallace</span></td>
                                                <td>Account receivable</td>
                                                <td><span>30:00</span></td>
                                                <td>30:0 hrs</td>
                                                <td><span>None</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Project-add" role="tabpanel">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">
                            <form asp-controller="Projects" asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">




                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Projects.ProjectName" class="control-label"></label>
                                            <input asp-for="@Model.Projects.ProjectName" class="form-control" />
                                            <span asp-validation-for="@Model.Projects.ProjectName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.Projects.ClientName" class="control-label"></label>
                                            <input asp-for="@Model.Projects.ClientName" class="form-control" />
                                            <span asp-validation-for="@Model.Projects.ClientName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.Projects.Duration" class="control-label"></label>
                                            <input asp-for="@Model.Projects.Duration" class="form-control" />
                                            <span asp-validation-for="@Model.Projects.Duration" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Projects.Description" class="control-label"></label>
                                            <textarea asp-for="@Model.Projects.Description" class="form-control"></textarea>
                                            <span asp-validation-for="@Model.Projects.Description" class="text-danger"></span>
                                        </div>
                                    </div>



                                    <div class="col-md-6">
                                        <label asp-for="@Model.Projects.DepartmentsId"></label>
                                        <select asp-for="@Model.Projects.DepartmentsId" class="form-control" asp-items="ViewBag.Departments">
                                            <option value="">Please Select Deparments</option>

                                        </select>
                                        <span asp-validation-for="@Model.Projects.DepartmentsId" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.Projects.ResourcesId" class="control-label"></label>
                                            <input asp-for="@Model.Projects.ResourcesId" class="form-control" />
                                            <span asp-validation-for="@Model.Projects.ResourcesId" class="text-danger"></span>
                                        </div>
                                    </div>



                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Projects.Comments" class="control-label"></label>
                                            <textarea asp-for="@Model.Projects.Comments" class="form-control"></textarea>
                                            <span asp-validation-for="@Model.Projects.Comments" class="text-danger"></span>
                                        </div>
                                    </div>







                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create Project" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
